.carousel-item {
    /* width:640px; */
    height:600px;
}
.carousel-caption {
    top: 60%;
    transform: translateY(-50%);
}
.carousel-caption h5{
    font-size: 3rem;
}
.carousel-caption p{
    font-size: 1.5rem;
}
section#about {
    margin-top: 7rem;
}
section#about img {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
section#about h3 {
    margin-top: 1rem;
}
.pt-6 {
    padding-top: 1.5rem!important;
}