{% extends 'base.html' %}

{% block content %}
{% load static %}
<section class="pt-7 pb-12">
  <div class="container">
    <div id="blog-nav-row" class="row">
      <div class="col-12">

        <!-- Heading -->
        <h2 class="mb-7 text-center">Our Story</h3>

      </div>
    </div>
    <div class="row ">
      {% for post in object_list reversed %}
      <div class="col-12 col-md-6 wrapping-flex">

        <!-- Card -->
        <div class="card mb-7">

          <!-- Badge -->
          <div class="badge badge-white card-badge">
            <time class="text-uppercase" datetime="2019-06-20">Jun 20</time>
          </div>

          <!-- Image -->
          <img class="card-img-top" src="../{{ post.thumbnail.url }}" alt="...">

          <!-- Body -->
          <div class="card-body px-0">

            <!-- Heading -->
            <h5>{{ post.title }}</h5>

            <!-- Text -->
            <p class="mb-0 text-gray-500">
              {{post.body}}
            </p>

            <!-- Button -->
            <a class="btn btn-link stretched-link px-0 text-reset" href="{% url 'blog_detail' post.pk %}">
              Read More <i class="fe fe-arrow-right ml-2"></i>
            </a>

          </div>

        </div>

      </div>
      {% endfor %}


      <div class="row">
        <div class="col-12">

          <!-- Progress -->
          <div class="row justify-content-center mt-7">
            <div class="col-12 text-center">

              <!-- Caption -->
              <p class="font-size-sm text-muted">
                Showing 16 of 24 products
              </p>

              <!-- Progress -->
              <div class="progress mx-auto mb-7" style="max-width: 250px;">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

              <!-- Button -->
              <button class="btn btn-sm btn-outline-dark">
                Load more
              </button>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}